<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="WcfExampleService"
                address="http://localhost:6667/WcfExampleService"
                binding="wsHttpBinding"
                contract="Examples.WCF.Contracts.Interfaces.IWcfExampleService"/>
    </client>
  </system.serviceModel>
</configuration>