<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <!-- Mysql Connection String -->
    <add name="MySql" connectionString="Server=127.0.0.1;Database=mytestdb;User id=root;pwd=root;"/>
    <add name="SqlServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=mytestdb;User ID=sa;Password=root"/>
    <add name="SQLite" connectionString="Data Source=mydb.db;Version=3;"/>
  </connectionStrings>
</configuration>
