<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <system.serviceModel>
    <services>
      <!-- WcfExampleService configuration -->
      <service name="Examples.WCF.Host.ServiceImplementations.WcfExampleService">
        <endpoint address="http://localhost:6667/WcfExampleService" binding="wsHttpBinding" contract="Examples.WCF.Contracts.Interfaces.IWcfExampleService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
